//colors
$roxo-escuro-color: #2B0955;
$roxo-claro-color: #AE97CB;
$cinza-escuro-color: #363636;
$roxo-color: #7000FF;
$amarelo-color: #FBC508;
$grey-color: #F8F6FA;
$grey2-color: #656565;

//spaces
$container-size-mobile: 30px;
$container-size-desktop: 200px;

